/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 mai 2019, 14:30:09
    Author     : tremy
*/
body {
  overflow-x: hidden;
}

#page-content-wrapper {
  min-width: 100vw;  
  background: url("../assets/img/connexion_client.jpg") no-repeat center center fixed;

}


@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
}

