/* 
    Created on : 9 mai 2019, 20:55:53
    Author     : Liam
*/
body, html {
  height: 60%;
  background: url("../assets/img/login-emp-bg.jpg") no-repeat center center fixed;
}

#en-tete{
    background-color: black;
}

#conteneur-principal{
    height: 80vh;
}

.margin-bottom{
    margin-bottom: 5px;
}



