
/* 
    Created on : 21 mai 2019, 01:43:33
    Author     : Alexis Bosio
*/

body, html {
  height: 100%;
  background: url("../assets/img/loginClient.jpg") no-repeat center center fixed;
}

#en-tete{
    background-color: black;
}

#conteneur-principal{
    height: 80vh;
}
#bas-de-page{
    background-color: white;
    position: absolute; 
    width:100%;
    height:100px;
}
.margin-bottom{
    margin-bottom: 5px;
}
footer{
  background-color: #34475E;
  color: white;
  position:absolute;
  width: 100%;
}